#### 1.라이브러리 선언

In [1]:
import datetime as dt

#### 1-1적은 메모리 사용 방법

In [2]:
from datetime import datetime as dt2

In [3]:
dt2.now()

datetime.datetime(2019, 3, 14, 11, 47, 13, 118923)

In [4]:
currentDate = dt2.now()

#### 2.시간, 분 정보 불러오기

In [5]:
# 시간, 분 할당
hourVar = currentDate.hour
minutesVar = currentDate.minute
print(hourVar)
print(minutesVar)

11
47

#### 3.문자열 선언

In [6]:
a = 123

In [7]:
b = "123" 
#""는 문자로 인식된다 그래서 사칙연산이 불가

In [13]:
answer = a+1
answer

124

In [15]:
answer = b+1
answer

TypeError: must be str, not int

In [19]:
type(a)

int

In [21]:
type(b)

str

####  4.문자열 더하기

In [24]:
head = "fintech"
tail = "student"
fullString = head+" "+tail
print(fullString)

fintech student

#### 5.문자열 곱하기

In [26]:
starChr = "*"
starMul = "*"*100
starMul

'****************************************************************************************************'

#### 6.문자열 인멕싱 0부터시작

In [29]:
yearweek = "201803"
firstYear = yearweek[0]
firstYear

'2'

In [30]:
yearweek[0:4]

'2018'

In [32]:
len(yearweek) #길이 보기

6

In [33]:
yearweek[3:6]

'803'

In [34]:
YEARLEN = 4 #4부터 짤라서 보여줘

In [36]:
yearweek[YEARLEN:]

'03'

#### 7.문자열 갯수세기

In [38]:
yearweek = "2018W03"
print(yearweek.count('W'))

1

#### 8. 문자열 위치확인

In [41]:
print(yearweek.index('W'))
delimeter = yearweek.index('W')
yearweek_new = yearweek[:delimeter]+yearweek[delimeter+1:]
print([yearweek_new])

4
['201803']

#### 9. split 함수

In [42]:
splitVar = yearweek.split("W")

In [43]:
splitVar

['2018', '03']

In [44]:
type(splitVar)

list

In [45]:
yearweek_list = yearweek.split("W")
print(yearweek_list)

['2018', '03']

#### 문제1,2

In [1]:
stock_name = "SEC"
date = "20180212"
value = "250"
full = stock_name+" "+date+" "+value
print(full)

SEC 20180212 250

In [27]:
stock_name = "Sec"
date = "2018W28"
value = "250"
full = stock_name+" "+date+" "+value
print(full)

Sec 2018W28 250

In [26]:
print(full.count('W'))

delimeter=full.index('W')

print(delimeter)

full_new = full[:delimeter]+full[delimeter+1:]

print(full_new.upper())

1
8
SEC 201828 250

In [24]:
test = "SEC 20180212 250"

In [40]:
stockName = test[0:3]
date = test[4:12]
volume = test[13:]
print(stockName)
print(date)
print(volume)
print(stockName+" "+date+" "+volume)

SEC
20180212
250
SEC 20180212 250

In [41]:
stockLen = 3
dateLen = 8
volumeLen = 3

In [42]:
stockName = test[0:stockLen]
stockName

'SEC'

In [43]:
date = test[stockLen+1:stockLen+1+dateLen]
date

'20180212'

#### 문제 2 답

In [44]:
test2 = "Sec 2018W28 250"
test2

'Sec 2018W28 250'

In [47]:
UpperTest = test2.upper()
UpperTest

'SEC 2018W28 250'

In [52]:
stdTest = UpperTest.replace("W","")
stdTest

'SEC 201828 250'

In [55]:
splitData = stdTest.split(" ")
splitData

['SEC', '201828', '250']

In [56]:
type(splitData)

list

In [57]:
splitData[1]

'201828'

#### 문제 3

In [185]:
numberList = [120,150,300,500,1000,100,2000]

In [176]:
numberList.remove(min(numberList))
print(numberList)
numberList.remove(max(numberList))
print(numberList)

[120, 150, 300, 500, 1000, 2000]
[120, 150, 300, 500, 1000]

In [171]:
print(sum(numberList)) 
len(numberList)

2070

5

In [157]:
average = sum(numberList)/ len(numberList)
print(average)

414.0

In [192]:
minValue = min(numberList)
print(minValue)
maxValue = max(numberList)
print(maxValue)

100
2000

### sort(분류)에대한 오름차순 내림차순 적용

In [158]:
a = [1, 4, 5, 3, 9]

In [163]:
a.sort(reverse = True)#내림차순
a

[9, 5, 4, 3, 1]

In [166]:
a.sort(reverse = False)#오름차순
a

[1, 3, 4, 5, 9]

In [188]:
del a[len(a)-1]

In [189]:
a

[1, 3, 4, 5]

#### 10.딕셔너리

In [194]:
d= dict(naver="sec", value=300000,address="suwon")
d

{'address': 'suwon', 'naver': 'sec', 'value': 300000}

In [199]:
dict2 = {"201701":"0,2", "201702":"0.5","201703":"0.7"}

In [200]:
dict2["201701"]

'0,2'

In [201]:
type(dict2)

dict