### 퀴즈풀기... 리스트를 인수로 받아서 최대 최소값을 뺀 평균을 구하는 함수

In [1]:
def listAver(list):
    print(list)
    listcount = len(list)
    listmax = max(list)
    listmin = min(list)
    
    for list in range(0,listcount):
        if listmax & listmin :
            list.remove(listmax)
            list.remove(listmin)
    step = sum(list)
    step2 = step / listcount
    print(list)
    return step2

In [2]:
list=[120,150,300,500,1000,100,2000]

In [3]:
listAver(list)

[120, 150, 300, 500, 1000, 100, 2000]

AttributeError: 'int' object has no attribute 'remove'

In [ ]:
pwd

In [ ]:
def averageList(testList):
#testList = [1,2,3,4,5,6,7,8,9]

    minValue = min(testList)
    maxValue = max(testList)

    minValueCnt = testList.count(minValue)
    maxValueCnt = testList.count(maxValue)

    sumMinMax = (minValue * minValueCnt) + \
                (maxValue * maxValueCnt)
    average = (sum(testList) - sumMinMax) / \
                (len(testList) - (minValueCnt+maxValueCnt))
    return average

In [ ]:
import pandas as pd

In [ ]:
selloutData = pd.read_csv('../dataset/kopo_product_volume.csv')
selloutData.head(2)

In [ ]:
averageList(selloutData["YEARWEEK"].tolist())

In [13]:
inputList = [11,1234,2222,5555]
def Listsum(inputList):
    sum(inputList)
    return sum(inputList)

In [16]:
List = [15745,45754,121747,124742]
Listsum(List)

307988

In [40]:
inputList2 = ["11.2","1234","2222","5555"]

In [53]:
def listSum(inputList2):
    sumation = 0
    for i in range(0,len(inputList2)):
        sumation = sumation +float(inputList2[i])
    return sumation

In [54]:
listSum(inputList2)

9022.2

### 3.22일 퀴즈 총2개의 서버, 1개에서버에서 데이터 불러온 후 다른 서버에 넣기(engine만 활용)

In [29]:
import pandas as pd
# 하기전에 데이터 패키지 연동하는 패키치 설치 필요
import pymysql
from sqlalchemy import create_engine

# DB커넥션 열기
engine = create_engine('mysql+pymysql://kopo:kopo@13.209.112.251:3306/kopo')
engine1 = create_engine('postgresql://kopo:kopo@192.168.110.111:5432/kopo')

# DB테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume',engine)
selloutData

# 컬럼해더 재정의
selloutData.columns = ["AA",'BB','CC','DD']


# 저장방법
resultname = 'kopo+product_volume_정형석'
selloutData.to_sql(resultname,engine1,if_exists='replace', index=False)

In [32]:
contryList = ['A01','한국','A02','미국','A03','프랑스']
for i in range(0,6):
    if ( i%2 == 1):

'A02'