#### 1. 사칙연산

In [1]:
a = 123
b = 12.456
sum1 = a+b
print(sum1)

In [2]:
multiple = a*b
print(multiple)

In [3]:
division = a/b
print(division)

In [4]:
c = int(b)
exponential = c**2
print(exponential)

In [5]:
mod = a%int(b)
print(mod)

3

In [6]:
a = 6
b = 8
sum2 = a+b
print(sum2)

14

#### 2. 문자열 (string)

In [7]:
head = "smart"
tail = "analytics"
fullString = head+" "+tail
print(fullString)

smart analytics

In [8]:
print("*"*20+" 문자열 연산 프로그램 "+"*"*20)

******************** 문자열 연산 프로그램 ********************

#### 2-1 문자열 인덱싱(0~), 갯수, 위치확인,삭제, 대문자,소문자, split(기준으로 나눈다)함수

In [9]:
yearweek = "201801"
print(yearweek[0])
print(yearweek[0:4])
print(yearweek[4:])

2
2018
01

In [10]:
yearweek = "2018W28"
print(yearweek.count("W"))

1

In [11]:
print(yearweek.index("W"))

4

In [12]:
a = yearweek.index("W")
print(a)

4

In [13]:
yearweek1 = yearweek[:a]+yearweek[a+1:]
print(yearweek1)

201828

In [14]:
a = "sowolkrkmjudir"
a.upper()
b ="ASDWEFEFEF"
b.lower()

'asdwefefef'

In [15]:
a = "wojjjjrjjjk is gojjjjjod"
b = "play"
a.replace("j","").replace("work","play")

'play is good'

In [16]:
c = "kwoweeowoeewoaawowowoey"
c.replace("w","").replace("o","")

'keeeeaaey'

In [17]:
hello = "i love my mother"
hello.replace("mother","girl friend")

'i love my girl friend'

In [18]:
yearweeka = yearweek.split("W")
print(yearweeka)

['2018', '28']

In [19]:
q = 1234
b = str(q)
print(q)
type(b)
r = "7894"
l = int(r)
type(l)

1234

int

#### 문제(string.25)

In [20]:
test = "SEC 20180212 250"
stock_name = test[:3]
date = test[4:12]
value = test[13:]
print(stock_name, date, value)

SEC 20180212 250

#### 문제2(string.26

In [21]:
test2 = "Sec 2018W0212 250"
stock_name = test2[:3]
date = test2[4:13]
value = test2[14:]
print(stock_name,date,value)

Sec 2018W0212 250

In [22]:
date2 = date[:4]+date[5:]
print(date2)

20180212

In [23]:
test3 = stock_name+" "+date2+" "+value
print(test3)

Sec 20180212 250

In [24]:
print(test3.upper())

SEC 20180212 250

#### 3.list(집합)

In [25]:
stockName = ["SEC"]
priceList = [120,130]
dateList = [201712,201713]
a = stockName+priceList+dateList
a
b = stockName+priceList+[dateList]
print(b)

['SEC', 120, 130, [201712, 201713]]

In [26]:
print(b[1])

120

In [27]:
b[2]

130

In [28]:
b[3]

[201712, 201713]

In [29]:
b[0]

'SEC'

In [30]:
List = [120,130,140,150]
print(List)
List[3] = 180
print(List)

[120, 130, 140, 150]
[120, 130, 140, 180]

In [31]:
List[1:3]

[130, 140]

In [32]:
del List[0]
print(List)

[130, 140, 180]

In [33]:
list2 = [120,130,140,150]
list2.insert(3,100)
list2.append(200)
list2

[120, 130, 140, 100, 150, 200]

In [34]:
list2.extend([11,21])
list2

[120, 130, 140, 100, 150, 200, 11, 21]

In [35]:
list2.sort(reverse = True)
list2
list2.sort(reverse = False)
list2

[11, 21, 100, 120, 130, 140, 150, 200]

In [36]:
print(list2.index(150))

6

In [37]:
print(len(list2))

8

In [38]:
print(min(list2))

11

In [39]:
print(max(list2))

200

In [40]:
print(sum(list2))

872

In [41]:
fdfd = [120,130,140,150,120]
fdfd.count(120)

2

In [42]:
fdfd.pop()

120

#### 문제 3(32)

In [47]:
game = [120,150,300,500,1000,100,2000]
game.remove(min(game))
game.remove(max(game))
print(game)
len(game)
print((sum)(game))

[120, 150, 300, 500, 1000]
2070

In [48]:
average = sum(game)/len(game)
print(average)

414.0

#### 4.딕셔너리

In [74]:
d = dict(name= "sec", value = "3000000", address = "suwon")
d

{'address': 'suwon', 'name': 'sec', 'value': '3000000'}

In [71]:
d.keys()

dict_keys(['name', 'value', 'address'])

In [73]:
d.values()

dict_values(['sec', '3000000', 'suwon'])

In [77]:
dic = {"name":"sec","id":"3000000","address":"suwon"}
print(dic)
print(dic['name'])

{'name': 'sec', 'id': '3000000', 'address': 'suwon'}
sec

#### 데이터 불러오기

In [57]:
import pandas as pd

In [93]:
customerdata_out = pd.read_csv("../dataset/customerdata_out.csv")
customerdata_out.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

In [96]:
customerdata_out.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE2']
customerdata_out.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE         CUSTTYPE2
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

In [111]:
customerdata_out.to_csv("../dataset/customerdata_out.csv", index = False)

In [119]:
from datetime import datetime as dt

In [120]:
dt.now()

datetime.datetime(2019, 3, 14, 20, 47, 58, 856412)

In [121]:
currentDate = dt.now()

In [123]:
hour = currentDate.hour
minute = currentDate.minute
print(hour, minute)

20 49